body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: #111827;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

section {
    padding: 80px 10%;
}

#home {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

#home h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

#home h2 {
    font-size: 28px;
}

#home p {
    font-size: 18px;
    color: #cbd5e1;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

section h2 {
    font-size: 36px;
}

section p {
    font-size: 18px;
    line-height: 1.6;
}